<div class="card mb-2">
  <div class="card-body row">
    <div class="title col-4">
      <h4><%= link_to recipe.name, recipe, class:"card-link text-decoration-none"%></h4>
      <h6>By: <%= User.find_by(id: recipe.user_id).name %></h6>
    </div>
    <div class="details col">
      <% if recipe.public == false%>
        <p><%= recipe.decription %></p>
      <% else %>
        <p><b>Total foods items:</b> <%= RecipeFood.where(recipe_id: recipe.id).count %></p>
        <% price = RecipeFood.where(recipe_id: recipe.id).reduce(0) { |sum, f| sum + (f.quantity*Food.find(f.food_id).price).to_f } %>
        <p><b>Total price:</b> $<%= price %></p>
      <% end %>
    </div>
  </div>
</div>
