

<h1>Foods</h1>
<div class="d-flex flex-row justify-content-end">
  <%= link_to "New food", new_food_path, class:'btn btn-primary' %>
</div>
<div id="foods">
 <table class="table">
  <thead> 
    <tr>
      <th class="col">Food</th>
      <th class="col">Measurement Unit</th>
      <th class="col">Unit price</th>
      <th class="col">Actions</th>
    </tr>
  </thead>
  <tbody>
        <% @foods.each do |food| %>
    <tr>
      <td><%=food.name%></td>
      <td><%=food.measurement_unit%></td>
      <td><%=food.price%></td>
      <td><%=button_to "Delete food", "/foods/#{food.id}", 
      :method=>:delete,:class=>'btn btn-danger',:data=>{turbo:false} %></td>
    </tr>
    <% end %>
  </tbody>
 </table>
 
</div>


